* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1  {
    color: black;
    font-family: 'Gill Sans', sans-serif;
    padding: 25px;
    font-size: 50px;
    width: 100%;
    display: inline;
    background-color: white;
    margin: 20px;
}

h1:hover {
    background-color: black;
    color: white;
    transition-duration: .5s;
}

header {
    background-color: rgb(128, 122, 122);
}

header nav {
    float: right;
    margin-right: 20px;
    height: 50px;
}

header nav ul li {
    margin: 20px;
    font-size: 35px;
    list-style-type: none;
    display: inline;
    line-height: 50px;
}
a {
    color: black;
    font-family: 'Gill Sans', sans-serif;
}

a:hover {
    color: white;
    transition-duration: .25s;
}

header div img {
    width: 100%;
    height: 300px;
}

header div {
    position: relative;
}

header div p {
    position: absolute;
    color: black;
    background-color: white;
    bottom: 60px;
    right: 40px;
    font-family: 'Gill Sans', sans-serif;
    padding: 10px 20px 10px 20px;
    font-size: 200%;
    opacity: 40%;
}

header div p:hover {
    opacity: 80%;
    transition-duration: .5;
}

section h3 {
    padding-right: 20px;
}

h3 p {
    font-size: 80%;
}
.mephoto {
    max-width: 150px;
    height: auto;
    float: left;
    margin: 0px 10px 20px 10px;
}

.sectionid {
    border-right: 5px solid rgb(185, 219, 230);
    max-width: 30%;
    font-family: 'Gill Sans', sans-serif;
}

.portfolio-body {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: auto;
    padding-left: 20px;
    margin: 40px auto;
}

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 300px;
    font-family: 'Gill Sans', sans-serif;
}

.main-card {
    display: flex;
    position: relative;
    height: 400px;
    width: 100%;
    border-width: 5px solid;
    border-color: honeydew;
    box-shadow: inset rgb(185, 219, 230);
    flex: 1 1 100%;
}

.main-card:hover{
    box-shadow: none;
}

.sub-card {
    position: relative;
    height: 200 px;
    display: flex;
    flex-direction: column;
    border-width: 5px solid;
    border-color: honeydew;
    box-shadow: inset rgb(185, 219, 230);
    justify-content: space-around;
    flex: 1 1 100%;
}

.sub-card:hover {
    box-shadow: none;
}

.contactpoints {
    list-style-type: none;
    font-family: 'Gill Sans', sans-serif;
    justify-content: center;
}

#biotext {
    padding-left: 20px;
}
#music-card {
    background-image: url(../images/tecchlercello.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#making-card {
    background-image: url(../images/stradpainting.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#coffee-card {
    background-image: url(../images/roaster.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#coding-card {
    background-image: url(../images/codingshot2.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#mtg-card {
    background-image: url(../images/ravnica.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
