* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1  {
    color: rgb(128, 122, 122);
    font-family: 'Gill Sans';
    padding: 25px;
    background-color: rgb(216, 213, 213);
    font-size: 50px;
    width: 100%;
}

header nav {
    float: right;
    margin-right: 20px;
    height: 50px;
}

header nav ul li {
    margin: 20px;
    color: black;
    font: 'Gill Sans';
    font-size: 35px;
    list-style-type: none;
    display: inline;
}

.mainimage {
    object-fit: cover;
}

