* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1  {
    color: black;
    font-family: 'Gill Sans', sans-serif;
    padding: 25px;
    font-size: 50px;
    width: 100%;
    display: inline;
    background-color: white;
    margin: 20px;
}

header {
    background-color: rgb(128, 122, 122);
}

header nav {
    float: right;
    margin-right: 20px;
    height: 50px;
}

header nav ul li {
    margin: 20px;
    font-size: 35px;
    list-style-type: none;
    display: inline;
    line-height: 50px;
}
a {
    color: black;
    font-family: 'Gill Sans', sans-serif;
}

header div img {
    width: 100%;
    height: 300px;
}

header div {
    position: relative;
}

header div p {
    position: absolute;
    color: black;
    background-color: white;
    bottom: 60px;
    right: 40px;
    font-family: 'Gill Sans', sans-serif;
    padding: 10px 20px 10px 20px;
    font-size: 200%;
    opacity: 40%;
}